# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
coverage/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
vite.config.js.map

# Local env
.env
.env.local

# Logs / editor
*.log
.DS_Store
.vscode/
.idea/
